header{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
    font-family: 'Arial';
    background-image: url(https://ineskunstat.eu/module_files/photogallery/original/673149a17de54f677904d43c4652feee.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: fixed;
    background-position-y: 50%;
}
body{
    background-color: rgb(85, 85, 85);
    color: black;
    text-align: center;
}
h1{ 
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Arial';
    margin: 15px;
}
h2{ 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Arial';
    margin: 15px;
}
h3{ 
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    margin: 15px;
}
p{ 
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Arial';
    font-style: italic;
    margin: 15px;
}
footer
{
background-color: rgb(85, 85, 85);
font-size: 2px;
color: white;
font-family: 'Arial';
float: inline-end;
text-align: center;
width: 100%;
}
nav{

}
ul{

}
li{
display: inline;
margin-right: 20px;    
}
li a{
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 25px;
font-family: 'Arial';
}
li a:hover{
text-decoration: underline;
}
.active{
text-decoration: underline;
}
p a{
color: rgb(255, 255, 255);
}
div.info
{
color: white;
background-color: rgb(85, 85, 85);
border: 5px solid rgb(85, 85, 85);
width: 100%;  
text-align: center;
height: 100%;
margin-left: auto; /* Center horizontally */
margin-right: auto; /* Center horizontally */
}
@media (max-width: 768px){
    div.disclaimer
    {
        width: 95vw;
        margin: auto;
        margin-left: auto; /* Center horizontally */
        margin-right: auto; /* Center horizontally */
    }
}
div.products{
    color: white;
    background-color: rgb(85, 85, 85);
    border: 5px solid rgb(85, 85, 85);
    width: 50%;
    text-align: center;
    height: 100%;
    margin-top: 2.5%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}
@media (max-width: 768px) {
    div.products {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
        grid-template-rows: repeat(4, 1fr); /* 4 rows for mobile */
        margin-left: auto; /* Center horizontally */
        margin-right: auto; /* Center horizontally */
    }
}
h2 a{
    color: white;
    text-decoration: none;
}
h2 a:hover{
    color: white;
    text-decoration: underline;
}
div.bor{
    border: 2px solid rgb(255, 255, 255);
}
div.buk{
    border: 2px solid rgb(255, 255, 255);
}
div.dub{
    border: 2px solid rgb(255, 255, 255);
}
div.javor{
    border: 2px solid rgb(255, 255, 255);
}
div.smrk{
    border: 2px solid rgb(255, 255, 255);
}
div.topol{
    border: 2px solid rgb(255, 255, 255);
}
.hidden{
    display: none;
}
html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;   
}
div.product_form{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    text-align: center;
}
input{
background-color: transparent;
color: white;
border: 2px solid black;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border-radius: 15px;
}
label{
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
label a{
    color: white;
    text-decoration: underline;
}
input[type="checkbox"]:checked + label::after {
    position: absolute;
    top: 2px;
    left: 7px;
    font-size: 20px;
    color: white;
}
h4 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
input[type="checkbox"]:checked {
    background-color: #4CAF50; /* Zelené pozadí pro zaškrtnutý */
    border-color: #4CAF50; /* Zelená barva okraje */
}

input[type="checkbox"]:not(:checked) {
    background-color: #f44336; /* Červené pozadí pro nezaškrtnutý */
    border-color: #f44336; /* Červená barva okraje */
}
input[type="submit"]{
    background-color: transparent;
    color: white;
    border: 2px solid black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}
select {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 15px;
}
option{
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
}