header{
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
    font-family: 'Arial';
    border-radius: 15px;
    padding: 5px;
}
body{
    background-image: url(https://ineskunstat.eu/module_files/photogallery/original/673149a17de54f677904d43c4652feee.jpg);
    background-repeat: no-repeat;
    background-size: 125%;
    background-position-y: 13%;
    color: black;
    text-align: center;
}
h1{ 
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Arial';
    margin: 15px;
}
h2{ 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Arial';
    margin: 15px;
}
h3{ 
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    margin: 15px;
}
p{ 
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Arial';
    font-style: italic;
    margin: 15px;
}
footer
{
color: rgb(255, 255, 255);
font-size: 2px;
font-family: 'Arial';
float: inline-end;
text-align: center;
width: 100%;
}
nav{

}
ul{

}
li{
display: inline;
margin-right: 20px;    
}
li a{
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 25px;
font-family: 'Arial';
}
li a:hover{
text-decoration: underline;
}
.active{

}
p a{
color: rgb(255, 255, 255);
}
div.info
{
color: white;
background-color: rgb(85, 85, 85);
border: 5px solid rgb(85, 85, 85);
width: 85%;  
text-align: center;
margin-left: 7.5%;
height: 100%;
margin-top: 2.5%;  
}
div.contact{
display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;}
div.contact_info{

}
div.form{

}
input{
background-color: transparent;
border: 3px solid black;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
width: 100%;
}
textarea{
background-color: transparent;
border: 3px solid black;
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
text-align: center;
}
label{
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
width: 150%;
}
input[type=submit]{
    background-color: transparent;
    border: 3px solid black;
    border-radius: 15px;
    width: 30%;
    cursor: pointer;
}
html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;   
}