/* 游댳 Definov치n칤 hlavn칤ch prom캩nn칳ch */
:root {
    --bg-main: rgb(85, 85, 85);
    --text-color: white;
    --border-color: white;
    --font-main: Arial, Helvetica, sans-serif;
}

/* 游댳 Obecn칠 styly */
body {
    background-color: var(--bg-main);
    color: black;
    text-align: center;
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
}

header {
    color: black;
    text-align: center;
    font-size: 10px;
    background: url(https://ineskunstat.eu/module_files/photogallery/original/673149a17de54f677904d43c4652feee.jpg) no-repeat center;
    background-size: cover;
    width: 99vw;
    height: 300px;
    padding: 50px 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Arial';
    margin: 15px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Arial';
    margin: 15px;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    margin: 15px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Arial';
    font-style: italic;
    margin: 15px;
}

footer {
    color: rgb(255, 255, 255);
    font-size: 2px;
    font-family: 'Arial';
    float: inline-end;
    text-align: center;
    width: 100%;
}

ul {}

li {
    display: inline;
    margin-right: 20px;    
}

li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Arial';
}

li a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

p a {
    color: rgb(255, 255, 255);
}

div.info {
    color: white;
    background-color: rgb(85, 85, 85);
    border: 5px solid rgb(85, 85, 85);
    width: 85%;  
    text-align: center;
    margin-left: 7.5%;
    height: 50%;
}

div.products {
    color: white;
    background-color: rgb(85, 85, 85);
    border: 15px solid rgb(85, 85, 85);
    width: 85%;
    text-align: center;
    margin-left: 7.5%;
    height: 50%;
    margin-top: 2.5%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(3, 2fr);
}

div.wood {
    border: 2px solid rgb(255, 255, 255);
}

h2 a {
    color: white;
    text-decoration: none;
}

h2 a:hover {
    color: white;
    text-decoration: underline;
}

h3 a {
    color: white;
    text-decoration: none;
}

h3 a:hover {
    color: white;
    text-decoration: underline;
}

table {
    text-align: center;
}

tr {
    text-align: center;
}

th {
    text-align: center;
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;   
}

/* 游댳 Responzivn칤 칰pravy pro mobiln칤 za콏칤zen칤 */
@media (max-width: 768px) {
    /* Upravit velikost textu pro nadpisy */
    h1 {
        font-size: 30px;
        margin: 10px;
    }

    h2 {
        font-size: 20px;
        margin: 10px;
    }

    h3 {
        font-size: 18px;
        margin: 10px;
    }

    p {
        font-size: 15px;
        margin: 10px;
    }

    /* Upravit velikost hlavi캜ky */
    header {
        height: 200px;
        padding: 30px 0;
    }

    /* Zm캩nit sloupce v gridu pro produkty */
    div.products {
        grid-template-columns: 1fr; /* 1 sloupec pro mobiln칤 za콏칤zen칤 */
    }

    /* Zajistit, 쬰 info a produkty budou m칤t 100% 코칤콏ky */
    div.info, div.products {
        width: 100%;
        margin-left: 0;
        height: auto;  /* V칳코ka bude automatick치 pro lep코칤 zobrazen칤 */
    }

    /* Zajistit spr치vnou velikost tla캜칤tek a vstupn칤ch pol칤 */
    input,
    textarea {
        font-size: 16px;
        width: 80%; /* Uprav칤me 코칤콏ku pro mobil */
        margin: 10px auto;
    }

    input[type="submit"] {
        width: 50%;
    }

    /* Zm캩nit uspo콏치d치n칤 seznamu (li) */
    li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    li a {
        font-size: 20px;
    }

    footer {
        font-size: 12px;
    }
}
